.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #09090b;
    color: white;
    box-shadow: 3px 2px 3px #18181b;
    width:97%;
    gap: 15vw;
    padding: 30px;
    font-size: 24px;
    margin: 0 auto;
    
}

li{
    list-style-type: none;
    
}

a{
    text-decoration: none; /* removes underline */
    color: inherit; /* optional: makes the link inherit text color */
}