:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(0, 1, 2);
  background-color:rgb(226, 221, 221);
  font-family: 'Roboto', sans-serif;
  padding: 0 auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  

